.object.page{:id => "page_#{page.id}", :onClick => "$('#page_#{page.id} .long_content').toggle();" }
	.brief_content
		.field
			= page.url
		.field.link
			= link_to "postings (#{page.postings.not_ignored.count})", page_postings_url(page)
		.field.link
			= link_to "new (#{page.postings.are_new.count})", all_new_page_postings_url(page)
	.long_content
		.field
			.field.name Found
			.field.value
				= page.found_at.localtime.strftime("%Y.%m.%d %H:%M:%S") rescue ""
		.field
			.field.name Started
			.field.value
				= page.scrape_started_at.localtime.strftime("%Y.%m.%d %H:%M:%S") rescue ""
		.field
			.field.name Ended
			.field.value
				= page.scrape_ended_at.localtime.strftime("%Y.%m.%d %H:%M:%S") rescue ""

